@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 0.25rem;
  background: white;
}

.crew1 {
  background-image: url('./images/crew/image-douglas-hurley.png');
}
.crew2 {
  background-image: url('./images/crew/image-mark-shuttleworth.png');
}
.crew3 {
  background-image: url('./images/crew/image-victor-glover.png');
}
.crew4 {
  background-image: url('./images/crew/image-anousheh-ansari.png');
}

.bg-home {
  background-image: url('./images/home/background-home-mobile.jpg');
}

.bg-destination {
  background-image: url('./images/destination/background-destination-mobile.jpg');
}

.bg-crew {
  background-image: url('./images/crew/background-crew-mobile.jpg');
}

.bg-technology {
  background-image: url('./images/technology/background-technology-mobile.jpg');
}
.bg-not-found {
  background-image: url('./images/not-found/not-found-mobile.jpg');
}

@media (min-width: 48em) {
  .active::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0.25rem;
    background: white;
  }

  .bg-home {
    background-image: url('./images/home/background-home-tablet.jpg');
  }

  .bg-destination {
    background-image: url('./images/destination/background-destination-tablet.jpg');
  }

  .bg-crew {
    background-image: url('./images/crew/background-crew-tablet.jpg');
  }

  .bg-technology {
    background-image: url('./images/technology/background-technology-tablet.jpg');
  }

  .bg-not-found {
    background-image: url('./images/not-found/not-found.jpg');
  }
}

@media (min-width: 64em) {
  .bg-home {
    background-image: url('./images/home/background-home-desktop.jpg');
  }

  .bg-destination {
    background-image: url('./images/destination/background-destination-desktop.jpg');
  }

  .bg-crew {
    background-image: url('./images/crew/background-crew-desktop.jpg');
  }

  .bg-technology {
    background-image: url('./images/technology/background-technology-desktop.jpg');
  }
}
